h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

.site{
    min-height: 100vh;
    margin-bottom: -140px;
}

footer,.minSite{
    height: 140px;
}
.imgYT{
    height: 90px;
}

.imgInsta{
    height: 90px;
}

